﻿"width": "100%",
"height": "100%",
"type": "<%- editor.type %>",
"documentType": "<%- editor.documentType %>",
"token": "<%- editor.token %>",
"document": {
    "title": "<%- file.name %>",
    "url": "<%- file.uri %>",
    "fileType": "<%- file.ext %>",
    "key": "<%- editor.key %>",
    "info": {
        "author": "Me",
        "created": "<%- file.created %>"
    },
    "permissions": {
        "comment": <%- editor.comment %>,
        "download": true,
        "edit": <%- editor.isEdit %>,
        "modifyFilter": <%- editor.modifyFilter %>,
        "review": <%- editor.review %>
    }
},
"editorConfig": {
    "mode": "<%- editor.mode %>",
    "lang": "<%- editor.lang %>",
    "callbackUrl": "<%- editor.callbackUrl %>",
    "user": {
        "id": "<%- editor.userid %>",
        "name": "<%- editor.name %>"
    },
    "embedded": {
        "saveUrl": "<%- file.uri %>",
        "embedUrl": "<%- file.uri %>",
        "shareUrl": "<%- file.uri %>",
        "toolbarDocked": "top"
    },
    "customization": {
        "about": false,
        "chat": false,
        "compactToolbar": false,
        "comments": false,
        "feedback": false,
        "forcesave": false,
        "goback": {
            "url": "<%- editor.backUrl %>"
        }
    },
    "fileChoiceUrl": "<%- editor.fileChoiceUrl %>",
    "plugins": <%- editor.plugins %>
}
